h1, h2, h3 {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Rochester", cursive;
  font-size: 5.625rem; }

h2 {
  font-family: "Rochester", cursive;
  font-size: 3.75rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700; }

a, a:visited {
  color: #6B6B6B; }
  a:hover, a:visited:hover {
    color: #000; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem; }

dl {
  margin-top: -7px; }
  dl dt {
    line-height: 2rem;
    font-weight: 700;
    margin-top: 15px; }
  dl dd {
    margin-left: 0;
    line-height: 1.7rem; }
    dl dd a {
      color: #6B6B6B; }

button {
  border: 2px #895A9D solid;
  border-radius: 6px;
  padding: 23px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  color: #895A9D;
  font-size: 1rem; }
  button:hover, button.active {
    background: #895A9D;
    color: #fff; }

input {
  border: 2px #895A9D solid;
  border-radius: 6px;
  padding: 23px;
  background: rgba(137, 90, 157, 0.3);
  font-family: "Montserrat", sans-serif;
  color: #6B6B6B;
  font-size: 1rem; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #6B6B6B; }

header, section, footer {
  width: 100%;
  position: relative; }

header {
  position: relative;
  color: #fff;
  background: url("../images/katy-belcher-348038.jpg") no-repeat;
  background-size: cover;
  height: 572px;
  z-index: 0;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0); }
  header .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(137, 90, 157, 0.4);
    z-index: 1; }

.container {
  max-width: 1256px;
  margin: 0 auto; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(137, 90, 157, 0.3);
  display: block;
  z-index: 5; }
  #nav #open-menu {
    text-align: right;
    font-size: 36px;
    padding-right: 15px;
    color: #fff; }
    #nav #open-menu:hover {
      cursor: pointer;
      background: rgba(137, 90, 157, 0.5); }
    #nav #open-menu:before {
      content: '\2630'; }
  #nav ul {
    position: absolute;
    right: 0;
    display: none;
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 150px;
    background: rgba(137, 90, 157, 0.3); }
    #nav ul.active {
      display: block; }
    #nav ul li {
      display: block;
      text-align: right;
      width: 100%; }
      #nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        display: block; }
        #nav ul li a:hover {
          color: #fff;
          background: rgba(137, 90, 157, 0.5); }

@media (min-width: 768px) {
  #nav #open-menu {
    display: none; }
  #nav ul {
    display: block;
    width: 100%; }
    #nav ul li {
      display: inline-block;
      width: auto; }
      #nav ul li a {
        color: #fff;
        text-decoration: none; }
        #nav ul li a:hover {
          color: #fff; } }

.title {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 17vh; }

section {
  padding: 50px 0; }

.headshots {
  margin: 0 auto; }
  .headshots .container {
    display: block; }
  .headshots .heart {
    display: none;
    background: url("../images/headshot-heart.svg") no-repeat;
    width: 389px;
    height: 63px;
    background-size: contain;
    margin-left: -300px;
    margin-right: -300px;
    z-index: 0; }
  .headshots .headshot {
    width: 230px;
    text-align: center;
    z-index: 1;
    margin: 30px auto;
    display: block; }
    .headshots .headshot .img {
      height: 230px;
      width: 230px;
      border-radius: 50%; }
      .headshots .headshot .img.jen {
        background: url("../images/jen.png") no-repeat; }
      .headshots .headshot .img.phil {
        background: url("../images/phil.png") no-repeat; }
    .headshots .headshot h3 {
      align-text: center;
      padding-top: 20px; }
    .headshots .headshot .name {
      align-text: center;
      font-family: "Playfair Display", serif;
      font-size: 2rem; }
  @media (min-width: 610px) {
    .headshots .heart {
      display: inline-block; }
    .headshots .headshot {
      margin: 0;
      display: inline-block; }
    .headshots .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

#our-story {
  background: #EDE5F0; }
  #our-story .story {
    max-width: 723px;
    margin: 0 auto; }
  #our-story h3 {
    text-align: center;
    padding-bottom: 20px; }
  #our-story p {
    margin: 0 25px; }
  #our-story .cats {
    display: block;
    max-width: 723px;
    margin: 50px auto; }
    #our-story .cats .cat {
      display: block; }
      #our-story .cats .cat .cat-img {
        margin: 20px auto;
        height: 200px;
        width: 200px;
        border-radius: 50%; }
        #our-story .cats .cat .cat-img.salem {
          background: url("../images/salem.png") no-repeat;
          background-size: contain; }
        #our-story .cats .cat .cat-img.bastila {
          background: url("../images/bastila.jpg") no-repeat;
          background-size: contain; }
  @media (min-width: 550px) {
    #our-story p {
      margin: 0 115px; } }
  @media (min-width: 450px) {
    #our-story .cats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #our-story .cats .cat {
        display: inline-block;
        width: 50%; }
        #our-story .cats .cat .cat-img:nth-child(2) {
          margin-right: 125px; } }

#schedule {
  margin: 0 auto;
  padding-top: 0; }
  #schedule .willowdale {
    background: url("../images/slider2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 337px;
    margin-bottom: 50px; }
  #schedule h3, #schedule .whenWhere, #schedule .daysLeft {
    text-align: center; }
  #schedule .border {
    border-bottom: 4px #B99EC5 solid;
    height: 1px;
    width: 109px;
    margin: 0 auto; }
  #schedule .scheduleContent {
    width: 340px;
    margin: 0 auto; }
  #schedule .agenda {
    margin: 0 auto;
    margin-left: 52px; }
    #schedule .agenda .timeblock {
      margin: 50px 0; }
      #schedule .agenda .timeblock .when, #schedule .agenda .timeblock .what {
        display: inline-block;
        vertical-align: top;
        line-height: 1rem; }
      #schedule .agenda .timeblock .when {
        text-align: right;
        margin-right: 15px; }
      #schedule .agenda .timeblock .what {
        text-align: left; }
  #schedule .daysLeft .days {
    font-size: 3.75rem; }
  #schedule .daysLeft .border {
    margin: 30px auto;
    width: 167px; }

#travel {
  background: #EDE5F0; }
  #travel .travelContent {
    max-width: 600px;
    margin: 0 auto; }
    #travel .travelContent h3 {
      text-align: center; }
  #travel .travelSection {
    margin: 20px auto;
    max-width: 436px; }
  #travel .text {
    display: inline-block;
    word-wrap: break-word;
    max-width: 70%; }
  #travel .icon-container {
    display: inline-block;
    vertical-align: top;
    width: 82px;
    margin-top: 10px; }
  #travel .icon {
    margin: 0 auto; }
    #travel .icon.airport {
      background: url("../images/iconAirplane.svg") no-repeat;
      width: 35px;
      height: 35px;
      background-size: contain; }
    #travel .icon.hotel {
      background: url("../images/iconHotel.svg") no-repeat;
      width: 53px;
      height: 35px;
      background-size: contain; }
    #travel .icon.location {
      background: url("../images/iconLocation.svg") no-repeat;
      width: 35px;
      height: 35px;
      background-size: contain; }

#rsvp {
  background: url("../images/annie-spratt-277548.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 0; }
  #rsvp .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1; }
  #rsvp .rsvp-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    height: 200px;
    margin: 50px 100px;
    padding: 64px;
    z-index: 2; }
    #rsvp .rsvp-container h3 {
      text-align: center; }
  #rsvp .rsvp-form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 -20px;
    border: solid red 1px; }
  #rsvp .rsvp-form button {
    margin: 0 10px; }
  #rsvp .rsvp-form .input-group {
    margin: 0 10px; }
    #rsvp .rsvp-form .input-group .label {
      margin-bottom: 10px; }

footer {
  background: #222;
  padding: 50px 0;
  text-align: center; }
  footer .names {
    text-transform: uppercase; }
  footer .heart {
    background: url("../images/heart.svg") no-repeat;
    display: inline-block;
    height: 23px;
    width: 22px;
    background-size: contain;
    vertical-align: bottom; }
  footer .copyright {
    padding-top: 30px;
    font-size: .875rem; }
