$font-fam-default: 'Montserrat', sans-serif;
$font-fam-script: 'Rochester', cursive;
$font-fam-serif: 'Playfair Display', serif;

h1, h2, h3 {
	padding: 0;
	margin: 0;
}
h1 {
	font-family: $font-fam-script;
	font-size: 5.625rem;
}
h2 {
	font-family: $font-fam-script;
	font-size: 3.75rem;
}
h3 {
	font-family: $font-fam-default;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
a, a:visited {
	color: $c-text;
	&:hover {
		color: #000;
	}
}
p {
    font-family: $font-fam-default;
    font-size: 1rem;
    line-height: 1.7rem;
}

dl {
	margin-top: -7px;
	dt {
		line-height: 2rem;
		font-weight: 700;
		margin-top: 15px;
	}
	dd {
		margin-left: 0;
		line-height: 1.7rem;
		a {
			color: $c-text;
		}
	}
}

button {
	border: 2px $purple solid;
	border-radius: $border-radius;
	padding: 23px;
	background: transparent;
	font-family: $font-fam-default;
	color: $purple;
	font-size: 1rem;
	&:hover, &.active {
		background: $purple;
		color: $c-text-white;
	}
}

input {
	border: 2px $purple solid;
	border-radius: $border-radius;
	padding: 23px;
	background: $input-purple;
	font-family: $font-fam-default;
	color: $c-text;
	font-size: 1rem;
}
